* {
  box-sizing: border-box;
}

body {
	text-align: center;
  background-color: rgb(255, 254, 253);
  font-family: 'Lora', serif;  
}

/* visited link */
a:visited {
  color: #de9fa0;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}


/* Sections */
section {
  box-sizing: border-box;
  position: relative;
  width: 98vw;
  overflow: hidden;
}
section h1 {
  text-align: center;
  position: relative;
  margin: 10px 0;
  font-size: 90px;
}
section h2 {
  text-align: left;
  position: relative;
  margin: 100px 0;
}
section .links {
  font-size: 20px;
}
section a {
  margin: 10px
}

ul {
  display: inline-block;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #000;
}

#title {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: #252525;
}

#title h2 {
  text-align: center;
}

#title #title-text {
  position: absolute;
  top: 15vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

#title .links {
  position: absolute;
  z-index: 10;
  top: 50vh;
}

#about {
  padding: 20px 20px 0 20px;
}
#about p {
  flex: 2;
  margin: 50px;
}

#about h2 {
  flex: 1;
  margin: 40px 50px 0px 0px;
}

.elements {
  position: relative;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
}

#technology .elements {
  flex: 2;
}

#technology h2{
  flex: 1;
  margin: 40px 50px 0px 0px;
}

.list {
  list-style-position: outside;
  text-align: left;
}


#education h2 {
  flex: 1;
  margin: 40px 50px 0px 0px;
}

#education info {
  flex: 2;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #252525;
  color: #fff;
}

.footer .text {
  position: relative;
}